@import "animations";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

.app {
  display: grid;
  grid-template-columns: 75% 25%;
  min-height: 100vh;
}

//* Image Search Section

.image-search {
  display: flex;
  flex-direction: column;
  padding: 50px 15%;
  align-items: center;
  box-shadow: 5px 1px 5px gray;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input,
  select,
  button {
    min-width: 600px;
    margin: 30px 0;
    border-radius: 5px;
    height: 50px;
    color: gray;
    font-size: 2rem;
    padding-left: 30px;
  }

  button {
    background-color: rgb(0, 98, 255);
    color: white;
    padding-left: 0;
  }

  button:hover,
  select:hover {
    cursor: pointer;
  }

  option {
    font-size: 1.5rem;
  }
}

//* ImageItems
.image-item {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 100px 100px;
  margin: 20px 0;
  border: rgba(128, 128, 128, 0.692) solid 2px;
  border-radius: 10px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
  width: 100%;
  position: relative;
  :hover {
    cursor: pointer;
  }
}

img {
  width: 99%;
  height: 99%;
  object-fit: cover;
  border-radius: 10px;
}

.label-saved {
  background-color: rgb(190, 16, 147);
  color: white;
  width: 99%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2px 0;
  position: absolute;
  bottom: 0;
}

.label-not-saved {
  display: none;
}

.tag-container {
  grid-column: 2 3;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px 0;
  margin: 5px;
}

.tag {
  background-color: teal;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
}

.likes {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2 3;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  padding: 10px 0;
  font-size: 1.3rem;
}

.icon {
  height: 25px;
  width: 25px;
  object-fit: fill;
  margin: 0 10px;
}

//* Saved Image Links Section
.saved-images {
  width: 25%;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  a {
    margin: 10px;
    font-size: 40px;
    color: black;
    text-decoration: none;
    opacity: 0;
    animation-name: slideInFromBottom;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
}

.clear-images {
  text-decoration: underline;
  cursor: pointer;
  margin: 10px 0 5px 0;
}

//* MOBILE CSS
@media screen and (max-width: 850px) {
  .image-search {
    width: 100%;
    box-shadow: none;
    flex-shrink: 1;

    input,
    select,
    button {
      min-width: 90%;
      width: 90%;
    }
  }

  .image-item {
    flex-shrink: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .saved-images {
    position: fixed;
    width: 90%;
    right: 5%;
    margin: auto;
    background-color: rgba(218, 114, 54, 0.527);
    border-radius: 10px;
    transition: 1s ease;
  }

  .is-closed {
    top: 92%;
  }

  .is-open {
    top: 20%;
    background-color: rgba(218, 114, 54, 0.842);
  }
}
